.error_notice{
    line-height:35px;
    padding-bottom:5px;
    overflow:hidden;
    margin-top: 10px;
}
.error_notice .mark{
    padding:5px 10px;
    border:1px dashed #e5e5e5;
    background:#fcf8e3;
    border-radius:3px;
    margin-bottom:3px
}
.error_notice .mark li{
    padding:0;
    margin:0;
    line-height:22px;

}

.error_notice_p{
    font-size: 12px;
    color:red;
}

.success_notice_p{
    color:#1ab394;
    font-size:14px;
}


/*列表*/
.long-tr th{
    text-align: center
}
.long-td td{
    text-align: center
}

.state-td > span{
    cursor: pointer;
}